@import url(./global.module.css);

.venueSection{
    display: grid;
    grid-template-rows: repeat(2, 4.5em);
    margin: 5dvh 4.5dvw ;
    padding-bottom: 2em;
    justify-items: center;
    height: 100%;
}

/* select  */
select{
    border: 1.4px solid;
    border-color: var(--ternary-color) ;
    border-radius: 4px;
    height: 2.375em;
    width: 50vw;
    padding-left: 0.8em;
    margin-bottom: 1em;
}

select::-ms-expand{
    border-radius: 4px;
}

select:focus, select:active{
    border-color: var(--ternary-color) ;
}

select:focus-visible{
    outline: var(--ternary-color);
}

/* option */

option{
    padding: 15px !important;
}
option:checked, option:focus-visible, option:target, option:hover{
    background-color: var(--ternary-color);
    color: var(--primary-color);
    
}

/* Radio Button */

input[type='radio']{
     /* Hide the default radio button */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 12px;
    height: 12px; 
    margin: 0em .3em;
    border: 1px solid var(--ternary-color);
    border-radius: 50%;
}

input[type='radio']:checked{
    background-color: var(--ternary-color);
    border-radius: 50%;
    border: none;

}
